:root {
    font-size: 16px;
    --primary-font:'Montserrat', sans-serif;
    --secondary-font:'Grand Hotel', cursive;
    --primary-color: 255, 194, 0;
    --secondary-color:48, 48, 48;
    --pink-color:229, 0, 125;
    --grey-color:51, 51, 51;
}